
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Epilogue:wght@200;400;500&family=Roboto+Condensed&family=Roboto+Slab&display=swap');body {
    background-color: #EEF5FF ;
    font-family: 'Epilogue', sans-serif;
    margin: 0px;
    padding: 0px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    
}
nav li{
    list-style: none;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}


nav a {
    text-decoration: none;
    color: black;
    transition: 0.8s;
}
nav a:hover {
    transform: scale(1.1);
    color: #A25772;
}

/* Hero section */
.herosection{
    display: flex;
    width: 70%;
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    padding: 0px 0px;
    align-items: center;
    margin-left: 16%;
}

.herosection .header{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    
}
.herosection .header h1{
    font-family: 'Baskervville', serif;
    width: 80%;
    align-items: center;
    font-size: 60px;
}
.herosection .header h3{

    width: 60%;
}
.herosection button{
    background-color: #A25772;
    padding: 10px 20px;
    border-radius: 30px;
    color: #f4f8fe;
    transition: 0.8s;
    margin-top: 20px;
    width: 120px;
}
.herosection button:hover{
    background-color: #9EB8D9;
    color: black;
    cursor: pointer;
}
.herosection img{
    width: 400px;
    /* padding-right: 20%; */
}

.aboutus{
    margin-top: 130px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 40px 200px;
}

.aboutus h1{
    font-size: 50px;
}

.aboutus p{
    font-size: 20px;
    line-height: 36px;
}

/* Slogan CSS */
.slogan {
    text-align: center;
    margin-top: 130px;
    margin-bottom: 130px;
    font-size: 50px;
    font-weight: 100;

    
}

/* Intership CSS */
.internship {
    margin-top: 100px;

}
.internship h1 {
    font-size: 30px;
    text-align: center;
}

.internship img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.internship button{
    background-color: #A25772;
    padding: 10px 20px;
    border-radius: 30px;
    color: #f4f8fe;
    transition: 0.8s;
    margin-top: 20px;
}
.internship button:hover{
    background-color: bisque;
    color: black;
    cursor: pointer;
}

.webdev{
    display: flex;
    flex-direction: column;
    width: 30%;
    /* border: 0.5px solid beige; */
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 30px 20px;
    transition: 1s;
    /* padding-top: 30px; */
}

.webdev:hover{
    background-color: #9EB8D9;
}

.webdev p{
    line-height: 29px;
    justify-content: left;
    width: 350px;
    height: 200px;
    text-align: justify;

}

.position{
    display: flex;
    justify-content: space-between;
    /* gap: 30px; */
    margin: 0pc 100px;
    margin-top: 40px;
}

/* Get in touch CSS */
.getintouch{
    margin-top: 100px;
    border-top: 1px solid black;
    /* border-bottom: 1px solid black; */
    padding: 20px 0px;
}
.getintouch h1{
    text-align: center;
    font-size: 70px;
}

.form1{
    text-align: center;
    justify-content: left;
}
.form1 label{
    font-size: 20px;
    margin-top: 40px;
    margin-right: 20px;
}
.form1 input{
    margin-top: 30px;
    font-size: 20px;
    width: 250px;
}

.form1 button{
    background-color: #A25772;
    padding: 10px 20px;
    border-radius: 30px;
    color: #f4f8fe;
    transition: 0.8s;
    margin-top: 40px;
}
.form1 button:hover{
    background-color: #9EB8D9;
    color: black;
    cursor: pointer;
    margin-top: 40px;
}

/* Footer CSS */

.footer {
    background-color: #A25772;
    padding: 30px 80px;
    font-size: 20px;
    color: #EEF5FF;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between

}
.navigation{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0px;
    justify-content: center;
    width: 190px;
    /* align-items: center; */
}
.navigation h4{
    margin: 10px;
}
.navigation a{
    text-decoration: none;
    color: #000000;
    transition: 0.8s;
}
.navigation a:hover{
    
    color: azure;
}
.footer img{
    width: 80px;
}

.social{
    display: flex;
    gap: 20px;
}

.contactinfo{
    color: #000000;
}

.icon{
    display: none;
}

@media screen and  (max-width:768px) {
  

    .menu{
        background-color: #000000;
        width: 500px;
    }
    .desktopmenu{
        display: none;
        background-color: #9EB8D9;
        flex-direction: column;
        position: absolute;
        top: 63px;
        padding: 40px;
        align-items: center;
        right: 25px;
    }
    .desktopmenu.show{
        display: flex;
    }
    .icon{
        display: block;
        position: absolute;
        right: 20px;
    }
    .icon img{
        width: 30px;
    }
    .herosection{
        display: flex;
        width: 100%;
        flex-direction: column;
        display: flex;
        margin-top: 70px;
        justify-content: center;
        padding: 0px 0px;
        align-items: center;
        margin: 0px;
        text-align: center;
    }
    
    .herosection .header{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        width: 80%;
        
    }
    .herosection .header h1{
        font-family: 'Baskervville', serif;
        width: 100%;
        align-items: center;
        font-size: 40px;
    }
    .herosection .header h3{
        width: 100%;
        align-items: center;
    }
    .herosection button{
        background-color: #A25772;
        padding: 10px 20px;
        border-radius: 30px;
        color: #f4f8fe;
        transition: 0.8s;
        margin-top: 50px;
    }
    .herosection button:hover{
        background-color: #9EB8D9;
        color: black;
        cursor: pointer;
    }


    .herosection img{
        width: 60%;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-top: 40px;
    }
    
 
    .aboutus{
        margin-top: 10px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 0px 60px;
        text-align: center;
    }
    
    .aboutus h1{
        font-size: 50px;
    }
    
    .aboutus p{
        font-size: 16px;
        line-height: 36px;
        text-align: justify;
    }
    .slogan {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 130px;
        font-size: 50px;
        font-weight: 100;
        line-height: 80px;
        
    }
    .internship {
        margin-top: 50px;
        padding: 10px 10px;
    
    }
    .internship h1 {
        font-size: 30px;
        text-align: center;
    }
    
    .internship img{
        width: 170px;
        height: 170px;
        border-radius: 50%;
    }
    .internship button{
        background-color: #A25772;
        padding: 10px 20px;
        border-radius: 30px;
        color: #f4f8fe;
        transition: 0.8s;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .internship button:hover{
        background-color: bisque;
        color: black;
        cursor: pointer;
    }
    .webdev{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 0px 0px;
        transition: 1s;
        margin-top: 50px;
        padding-top: 20px;
    }
    
    .webdev:hover{
        background-color: #9EB8D9;
    }
    
    .webdev p{
        line-height: 29px;
        justify-content: left;
        width: 350px;
        height: 200px;
        text-align: justify;
    
    }
    
    .position{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px;
        margin-top: 0px;
        width: 100%;
    }
    
    .getintouch{
        margin-top: 100px;
        border-top: 1px solid black;
        padding: 20px 0px;
    }
    .getintouch h1{
        text-align: center;
        font-size: 50px;
    }
    
    .form1{
        text-align: center;
        justify-content: left;
    }
    .form1 label{
        font-size: 15px;
        margin-top: 40px;
        margin-right: 20px;
    }
    .form1 input{
        margin-top: 30px;
        font-size: 20px;
        width: 250px;
    }
    
    .form1 button{
        background-color: #A25772;
        padding: 10px 20px;
        border-radius: 30px;
        color: #f4f8fe;
        transition: 0.8s;
        margin-top: 40px;
    }
    .form1 button:hover{
        background-color: #9EB8D9;
        color: black;
        cursor: pointer;
        margin-top: 40px;
    }
    .footer {
        background-color: #A25772;
        padding: 10px 20px;
        font-size: 15px;
        color: #EEF5FF;
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 19px;
    
    }
    .navigation{
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin: 0px;
        justify-content: center;
        width: 33%;
        font-size: 17px;
        /* align-items: center; */
    }
    .navigation h4{
        margin: 10px;
    }
    .navigation a{
        text-decoration: none;
        color: #000000;
        transition: 0.8s;
    }
    .navigation a:hover{
        
        color: azure;
    }
    .footer img{
        width: 30px;
    }
    
    .social{
        display: flex;
        gap: 20px;
        width: 33%;
    }
    .contactinfo{
        width: 33%;
        font-size: 10px;
    }
    .contactinfo h3{
        font-size: 17px;
    }
    
}